.post {
    width: 100%;
    box-shadow: 3px 7px 13px -10px #65789f;
    border-radius: 10px;
    margin: 30px 0;

}

.postWrapper {
    padding: 10px;
}

.postProfileImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.postTop {
    display: flex;
    justify-content: space-between;
}

.postTopLeft {
    display: flex;
    align-items: center;
}

.postUsername {
    font-size: 15px;
    font-weight: 500;
    margin: 0 10px;
}

.postDate {
    font-size: 12px;
}

.postCenter {
    margin: 20px 0;
}

.postImg {
    width: 100%;
    min-height: 500px;
    margin-top: 20px;
    object-fit: contain;
}

.postBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.postBottomLeft {
    display: flex;
    align-items: center;
}

.likeIcon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
}

.postLikeCoutner {
    font-size: 15px;
}

.postCommentText {
    font-size: 14px;
    margin-right: 3px;
    border-bottom: 1px solid gray;
    cursor: pointer;
}