.rightbar {
    flex: 3.5;
}

.rightbarWrapper {
    padding: 20px 20px 0 0;
}

.eventContainer {
    display: flex;
    align-items: center;
}

.starImg {
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.eventText {
    font-size: 12px;
}

.adImg {
    width: 100%;
    border-radius: 10px;
    margin: 25px 0;
}

.rightbarTitle {
    margin-bottom: 20px;
}

.rightbarFriendList {
    padding: 0;
    margin: 0;
    list-style: none;
}

.rightbarFriend {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.rightbarProfileImgContainer {
    position: relative;
    margin-right: 10px;
}

.rightbarProfileImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.rightbarOnline {
    position: absolute;
    top: -2px;
    right: 0;
    background: #c605c6;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.promotionTitle {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.promotionImg {
    width: 85%;
    border-radius: 10px;
    margin: 20px 0;
}

.promotionName {
    color: 434343;
    font-size: small;
}